* {
    background-color: bisque;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link {
    color: blue;
    font-size: 30px;
}

a:visited {
    color: red;
    font-size: 45px;
}

.manythings {
    font-weight: bold;
}

#onething {
    font-size: 35px;
}

.box p {
    background-color: aqua;
}

.box p:first-child::first-letter {
    font-size: 35px;
}

h1, h2, .intro {
    color:red;
}