body {
    background-color: azure;
}

@media (min-width: 50em) {
    body {
        background-color: aqua;
    }
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px);
    height: 500px;
    background-color: pink;
}